<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lan="es">

<head>
  <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8">
  <style type="text/css">
    body {
      font-size: 12px;
      font-family: sans-serif;
    }
  </style>
</head>

<body>
  <br>
  <div style="page-break-before:always;"></div>
  <h3>Anexo Index</h3>
  <p>Anexo celebrado entre los señores FirstUserName y el Sr. SecondUserName;
    este anexo será celebrado con la finalidad de formalizar la participación como socio dentro
    de la empresa denominada CompanyName: el Sr. FirstUserName en lo
    sucesivo se denominará el asociante y la contraparte el Sr. SecondUserName que en lo
    sucesito será denominado como el asociado.</p>
</body>

</html>