<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lan="es">

<head>
  <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8">
  <style type="text/css">
      body {
          font-size: 12px;
          font-family: sans-serif;
      }
  </style>
</head>

<body>
  <div id="pageHeader">
    <table style="width:100%;">
      <td style="text-align: center;">
        <h2>Contrato de prueba</h2>
      </td>
      <td>
        <img width="60px"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbZ9u-Ysw99s4gJD8-tBho6Ld1ntznmS3R2ZYKh0Z4wbex5Dm06A"
          style="float:right;">
      </td>
    </table>
  </div>
  <p>Contrato celebrado entre los señores FirstUserName y el Sr. SecondUserName;
    este contrato será celebrado con la finalidad de formalizar la participación como socio dentro
    de la empresa denominada CompanyName: el Sr. FirstUserName en lo
    sucesivo se denominará el asociante y la contraparte el Sr. SecondUserName que en lo
    sucesito será denominado como el asociado.</p>

  <div id="pageFooter-last">
    <table style="width:100%;">
      <td style="text-align: center;">
        <p>____________________</p>
        <p>FirstUserRUT</p>
        <p>FirstUserName</p>
      </td>
      <td style="text-align: center;">
        <p>____________________</p>
        <p>SecondUserRUT</p>
        <p>SecondUserName</p>
      </td>
    </table>
  </div>
</body>

</html>